body {
    background-color: white;
}

header {
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    height: 35px;
    /* margin: 13px 50px; */
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 600;
    font-size: 14px; */
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: white;
    padding: 20px 10%;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 0 10%;
}

.nav-top {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    padding: 0 2%;
}

.nav-top a img{
    max-width: 110px;
    height: auto;
    padding: 5px 10px;
}

.nav-top .search-bar {
    background-color: #f6f6f6;
    width: 700px;
    height: 10px;
    font-size: 15px;
    border-radius: 30px;
    border: 1px solid #e7e7e7;
    box-shadow: 0 2px 5px rgba(121, 121, 121, 0.1);
    padding: 15px 20px; 
    margin: 0 20px;
    outline: none;
}

.nav-icons a {
    display: inline-flex;
    justify-content: flex-end;
    font-size: 15px;
    text-decoration: none;
    color: black;
    padding: 0 10px;
}

.nav-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px 0;
    gap: 17px;
    width: 100%;
    font-size: 15px;
}

.nav-bottom .shop-btn {
    background: none;
    border: none;
    color: black; 
    font-size: 15px;
}

.nav-bottom a {
    color: black;
    text-decoration: none;
    font-weight: 100;
}

.tabs a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #494949;
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding: 13px 10px;
    justify-content: center;
}

.tabs a:hover {
    color: black;
    background-color: white;
    /* padding: 0 10px; */
}

.tabs .active-tab {
    text-decoration: underline red 2px;
    text-underline-offset: 5px;
    background-color: white;
}

.product-grid {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(4, 1fr); /* 4 columns all 1fr*/
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.box {
    align-items: center;
    /* background-color: red; */
}

.box img {
    width: 100%;
    height: 100%;
}

.nested {
    padding: 3em;
    align-items: center;
}

.product-title {
    font-size: 20px;
    font-weight: 100;
    padding: 2px;
    color: black;
}

.product-title a {
    color: black;
    text-decoration: none;
}

.product-title:hover {
    cursor: pointer;
}

.star-review {
    font-size: 18px;
    padding: 2px;
}

.star-review a {
    color: black;
    text-decoration: none;
}

.star-review:hover {
    cursor: pointer;
}

.price-tag {
    color: #464646;
    margin: 12px 0px;
}

.price-tag strong {
    color: #cc2031;
    font-size: 18px;
    padding-right: 2px;
}

.promo {
    color: #cc2031;
    font-size: 15px;
    font-weight: 100;
}

.delivery-option {
    margin: 15px 0px;
}

.delivery-option p {
    margin: 6px 0;
    color: #494949;
}

.delivery-option .checkmark {
    color: green;
}

.options-btn {
    background-color: white;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    border-radius: 25px;
    margin-top: 25px;
}

.options-btn a {
    color: #464646;
    text-decoration: none;
}

.options-btn:hover {
    cursor: pointer;
    background-color: #f6f6f6;
}

.shipped-by {
    color: black;
    text-decoration: none;
}

.shipped-by a {
    text-decoration: none;
    font-size: 15px;
    color: #007cc3;
}


@media (max-width: 1200px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}



